.products_wrapper {
    @include flexbox();
    @include align-items(center);
    @include flex-wrap(wrap);
    column-gap: 10px;
    row-gap: 30px;
    .product {
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.02));
        .title_wrapper {
            padding-top: 20px;
            .show_now_wrapper {
                .product_title {
                    font-weight: 400;
                    font-size: 14px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
                    white-space: pre-wrap;
                }
                .product_link {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    text-decoration-line: underline;
                    color: #d0a612;
                }
            }
            .title {
                text-decoration: none;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
                white-space: pre-wrap;
                &.titleAlignment {
                    text-align: left;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.1;
                    cursor: pointer;
                }
            }
        }
    }
}
