/*================ Grid ================*/
$site_width_lg: 1550;
$site_width_md: 1200;
$site_width_sm: 1023;
$site_width_xs: 767;
/*================ Color ================*/
$primary_color:#FBFBFB;
$color_white:#ffff;

